* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.div-btn {
    display: flex;
    justify-content: center;
}

.btn-ebook {
    width: 50%;
    margin-top: 10px;
    font-size: 25px;
    border-radius: 25px;
    border: 1px solid whitesmoke;
    color: white;
    background-color: #A244C3;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    text-decoration: none;
    float: inline-end;
}

header {
    background-color: #2C2A85;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 80px;
    text-align: center;
    color: #fff
}

section {
    display: block;
    text-align: center;
}

h1 {
    font-size: 19px;
    padding-bottom: 10px;
}

h3 {
    font-weight: normal;
    font-size: 1rem;
    padding-bottom: 10px;
}

.carteira {
    display: block;
}

.carteira img {
    width: 300px;
}

.redes div:nth-child(0) {
    width: 60%;
    padding-top: 10px;
    text-align: center;
}

.redes div:nth-child(1) {
    width: 30%;
    text-align: center;
}

.redes h3 {
    font: 300 19px 'Roboto';
    color: #4169E1;
    text-align: center;
}

#face {
    width: 80px;
}

.topo {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quebra-linha{
    display: none;
}

@media (min-width:540px) {
    section {
        display: flex;
        align-items: center;
    }

    .redes {
        width: 50%;
    }
}

@media (min-width:768px) {
    h1 {
        font-size: 25px;
    }

    .carteira img {
        width: 450px;
    }

    h3 {
        font-size: 1.17rem;
        padding-bottom: 0;
    }

    .container {
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
    }

    .container div:nth-child(1) {
        width: 60%;
        padding-top: 10px;
        text-align: left;
    }
    
    .container div:nth-child(2) {
        width: 30%;
        text-align: center;
    }
    .div-btn {
        display: block;
    }

    .btn-ebook {
        width: 20%;
    }
}

@media (min-width:992px) {
    header {
        background-color: #2C2A85;
        padding-right: 80px;
        padding-left: 50px;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
        color: #fff
    }

    .redes {
        width: 70%;
    }

    .redes h3 {
        font: 300 23px 'Roboto';
        color: #4169E1;
        text-align: center;
    }

    #face {
        width: 100px;
    }

    .carteira img {
        width: 550px;
        display: grid;
    }

    .carteira {
        display: flex;
        padding-left: 50px;
    }

    .quebra-linha{
        display: block;
    }
}