* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.container div:nth-child(1) {
    width: 60%;
    padding-top: 10px;
    text-align: left;
}

.container div:nth-child(2) {
    width: 30%;
    text-align: center;
}

a {
    width: 20%;
    margin-top: 10px;
    font-size: 25px;
    border-radius: 25px;
    border: 1px solid whitesmoke;
    color: white;
    background-color: #A244C3;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    text-decoration: none;
    float: inline-end;
}

header {
    background-color: #2C2A85;
    padding-right: 80px;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #fff
}

h1 {
    font-size: 25px;
}

h3 {
    font-weight: normal;
}

section {
    background-color: #2C2A85;
}

.carteira {
    display: flex;
}

.carteira img {
    width: 550px;
    margin-left: 50px;
    display: grid;
}

.redes div:nth-child(0) {
    width: 60%;
    padding-top: 10px;
    text-align: center;
}

.redes div:nth-child(1) {
    width: 30%;
    text-align: center;
}

.redes h3 {
    /*padding: 40px;*/
    font: 300 25px 'Roboto';
    color: #4169E1;
    display: flex;
    text-align: center;
    /*margin-left: 70px;*/
}

#face {
    width: 100px;
    float: left;
}


/*.redes h3 {
    padding: 40px;
    font: 300 25px 'Roboto';
    color: #4169E1;
    display: flex;
    margin-left: 70px;
}

#face {
    width: 100px;
    margin-left: 200px;
    margin-right: 50px;
    margin-top: -20px;
}*/

.redes h6 {
    font: 300 10px 'Roboto';
    color: #6D6C6C;
    text-decoration: underline;
    padding: 10px;
    margin-left: 500px;
    margin-top: 100px;
}


/*.cancelar {
    margin-top: 10px !important;
    margin-left: 60px;
    font-size: 20px;
    border-radius: 25px;
    border: 1px solid whitesmoke;
    color: white;
    background-color: #A244C3;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 400px;
}*/