article h1 {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 17px;
}

#formulario {
    margin: 18px;
    padding: 20px;
    justify-content: center;
    background-color: #2c2a85;
    border-radius: 20px;
}

#formulario h2, h3 {
    text-align: center;
}

#formulario div {
    display: grid;
    padding-top: 25px;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    border-style: none;
}

div form :nth-child(3) {
    padding-top: 10px !important;
}

div form :nth-child(3) div {
    display: flex !important;
}

h2 {
    font-size: 20px;
    color: #FFFFFF;
    
}

h3 {
    padding-top: 20px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: normal;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    margin-top: 17px;
    background-color: #f0f0f0;
    font: 700 15px 'Roboto';
    color: #2C2A85;
    padding: 8px 8px;
    border-style: none;
    border-radius: 2px;
}

input[type=submit] {
    margin-top: 10px !important;
    font-size: 20px;
    border-radius: 25px;
    border: 1px solid whitesmoke;
    color: white;
    background-color: #A244C3;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

input[type=radio] {
    margin-top: 2px;
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

::-webkit-input-placeholder {
    font-weight: normal;
    color: #6765c5;
}

.img-size {
    width: 100%;
}

label {
    font-size: 16px;
    color: #FFFFFF;
}

section {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 13.5px;
}

section div {
    padding-top: 8px;
}

.quebra-linha{
    display: none;
}

@media(min-width:425px) {
    article h1 {
        font-size: 19px;
    }
}

@media(min-width:540px) {
    section div {
        display: flex;
    }
    .div-text {
        width: 70%;
    }
    div form :nth-child(3) {
        display: flex !important;
        justify-content: space-around;
        padding-top: 5px !important;
    }
}

@media(min-width:768px) {
    article h1 {
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 20px;
        color: #FFFFFF;
        font-weight: 300;
        font-size: 20px;
    }
    section {
        padding-right: 30px;
        padding-left: 40px;
        padding-top: 20px;
        font-size: 18px;
    }

    section div {
        display: block;
    }

    .div-text {
        width: 50%;
        float: left;
    }
    
    .form {
        display: inline;
        align-content: center;
    }
    div form :nth-child(3) {
        display: block !important;
    }
    .div-img {
        width: 50%;
        float: right;
    }
    #formulario {
        margin: 0;
    }
}

@media(min-width:992px) {
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 19px;
    }
    section div {
        display: flex;
    }
    .div-text {
        width: 55%;
    }
    #formulario {
        padding: 35px;
        justify-content: center;
    }
}

@media(min-width:1100px) {
    article h1 {
        font-size: 23px;
        padding-top: 22px;
    }
    .quebra-linha{
        display: block;
    }
}