 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    display: grid;
    grid-template-areas:"header"
                        "article"
                        "section"
                        "aside";
    grid-template-columns: 100%;
    margin: 0%
}

body, input, textarea {
font-family: 'Roboto', sans-serif;
color:  #3d3d3d;
}

article {
background-color: #6495ED;
grid-area: article;
}

aside{
    background-color: #ffffff;
    grid-area: aside;
}

header {
background-color: #ffffff;
grid-area: header;
}

section {
background-color: #ffffff;
grid-area: section;
}

@media (min-width: 768px) {
    body {
            display: grid;
            grid-template-areas:"header header"
                                "article aside"
                                "section aside";
            grid-template-columns: 65% 35%;
            margin: 0%
    }

    body, input, textarea {
        color:  #3d3d3d;
    }

    article {
        background-color: #6495ED;
        grid-area: article;
    }

    aside{
        background-color: #2C2A85;
        grid-area: aside;
    }

    header {
        background-color: #ffffff;
        grid-area: header;
    }

    section {
        background-color: #ffffff;
        grid-area: section;
    }
}