:root {
    --color-background: #0000FF;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #3d3d3d;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    font-size: 60%;
    /*controle das medidas rem*/
}

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
     height: 100vh;
}

body {
    display: grid;
    grid-template-areas:"header"
                        "article"
                        "section"
                        "aside";
    grid-template-columns: 100%;
    margin: 0%
}

body::-webkit-scrollbar{
    width: 0%;
    background: transparent;
}

body, input, textarea {
font-family: 'Roboto', sans-serif;
color: var( --color-text-base);
}

article {
background-color: #6495ED;
grid-area: article;
}

aside{
    background-color: #ffffff;
    grid-area: aside;
}

header {
background-color: #ffffff;
grid-area: header;
}

section {
background-color: #ffffff;
grid-area: section;
}

@media (min-width: 768px) {
    body {
            display: grid;
            grid-template-areas:"header header"
                                "article aside"
                                "section aside";
            grid-template-columns: 65% 35%;
            margin: 0%
    }

    body, input, textarea {
        color: var( --color-text-base);
    }

    article {
        background-color: #6495ED;
        grid-area: article;
    }

    aside{
        background-color: #2C2A85;
        grid-area: aside;
    }

    header {
        background-color: #ffffff;
        grid-area: header;
    }

    section {
        background-color: #ffffff;
        grid-area: section;
    }
}

@media (min-width: 992px) {
    
}